@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", serif;
    background-image: url(../images/background-mobile.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0em 0.5em 0em 0.5em;
    
}
.title{
    color:  hsl(0, 0%, 100%);
    margin-top: 1em;
}

.description{
    color: hsl(252, 6%, 83%);
    padding: 0em 1.5em 0em 1.5em;
    font-size: 1.2em;
    text-align: center;
   
}
.space-form{
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    
}
form{
    width: 100%;
}
form p{
    font-size: 1.5em;
    text-align: left;
}
.space-form input{
    width: 90%;
    height: 10em;
  
}

.upload{
    background-color: hsl(248, 70%, 10%);
    border: 1px dashed hsl(0, 0%, 100%);
    background-image: url(../images/icon-upload.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4em;
}

/*Media Querie para Tablets*/

@media (min-width: 768) and (maz-width: 1024){
    body{
        background-image: url(../images/background-tablet.png);
     }
}


/*Media Querie para pantallas de PC en adelante*/

@media (min-width: 1025px){
    body{
        background-image: url(../images/background-desktop.png);
        
    }
}